<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{ satellites.length }}</span></div>
   <div>Space Debris: <span>{{ countTypes('Space Debris') }}</span></div>
   <div>Communication: <span>{{ countTypes('Communication') }}</span></div>
   <div>Probe: <span>{{ countTypes('Probe') }}</span></div>
   <div>Positioning: <span>{{ countTypes('Positioning') }}</span></div>
   <div>Space Station: <span>{{ countTypes('Space Station') }}</span></div>
   <div>Telescope: <span>{{ countTypes('Telescope') }}</span></div>
</div>
